name: Run Pipeline

#on:
#  pull_request:
#    types: [opened, synchronize, reopened]
#    branches: [main]

on:
  workflow_call:
    inputs:
      enable_test:
        required: false
        type: string
        default: disable
      docker_tag:
        required: false
        type: string
        description: 'Docker Image for rollout'
      pipeline_branch:
        description: 'Test pipeline branch name'
        type: string
        required: true
        default: 'main'
      service_name:
        required: true
        type: string
        description: 'Service name, e.g. atp-environments'
      repository_name:
        required: true
        type: string
        default: ''
        description: 'Repository name'
      namespace:
        required: true
        type: string
        default: ''
      postgres:
        required: false
        type: string
        default: disable
      mongo:
        required: false
        type: string
        default: disable
      kafka:
        required: false
        type: string
        default: disable
      apply_kube2vcs:
        required: false
        type: string
        default: disable

jobs:
  Clean_Install:
    runs-on: ubuntu-latest
    name: Clean Install
    steps:
      - name: Get current workflow branch
        id: get_branch
        run: |
      - name: Checkout pipeline
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: 'main'
          repository: 'Netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'

      - name: Create cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster

      - name: Checkout pipeline
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.pipeline_branch }}
          repository: 'Netcracker/${{ inputs.repository_name }}'
          path: ${{ inputs.repository_name }}

      - name: Checkout pipeline
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: 'test'
          repository: 'Netcracker/qubership-testing-platform-helm-hook-helper'
          path: 'qubership-testing-platform-helm-hook-helper'

      - name: Clean Install
        uses: ./qubership-testing-platform-helm-hook-helper/.github/actions/shared/helm_deploy
        with:
          path_to_template: './${{ inputs.repository_name }}/.github/deploy_templates/values-dev.yaml'
          service_branch: ${{ inputs.pipeline_branch }}
          service_name: ${{ inputs.service_name }}
          repository_name: ${{ inputs.repository_name }}
          path_to_chart: 'deployments/charts/${{ inputs.service_name }}'
          namespace: ${{ inputs.namespace }}
          docker_tag: ${{ inputs.docker_tag }}
          postgres: ${{ inputs.postgres }}
          mongo: ${{ inputs.mongo }}
          kafka: ${{ inputs.kafka }}
          apply_kube2vcs: ${{ inputs.apply_kube2vcs }}


      - name: Verify installation
        uses: ./qubership-testing-platform-helm-hook-helper/.github/actions/shared/verify_installation
        with:
          namespace: ${{ inputs.namespace }}
          service_branch: ${{ inputs.pipeline_branch }}

      - name: Run tests
        if: inputs.enable_test == 'enable'
        uses: ./qubership-testing-platform-helm-hook-helper/.github/actions/shared/running_tests
        with:
          repository_name: ${{ inputs.repository_name }}
          service_name: ${{ inputs.service_name }}
